# Global compiled file
*.pyc

# Auto generated conf
egs/**/conf/*
!egs/**/conf/dnn
!egs/**/conf/logging_config.conf
!egs/**/conf/general/*
# Running part
experiments/
*data*

# Tools
SPTK*
build/
bin/
